@import 'layout';
@import 'modal';

@media screen and (min-width: 991px) {
	.action-button {
		//font-size: 1rem;
		font-size: 100%;
		background: $process-hover;
		color: #fff;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		box-shadow: none !important;
		outline: none !important;
		transition: .3s all ease;
		
		&:hover,
		&:focus {
			background: $process-color;
			color: $white-color;
		}
	}
	
	.action-payment {
		//font-size: 1rem;
		font-size: 100%;
		background: $red-color;
		color: #fff;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		box-shadow: none !important;
		outline: none !important;
		transition: .3s all ease;
		
		&:hover,
		&:focus {
			background: $red-hover;
			color: $white-color;
		}
		
		&.active-button {
			background: $active-button;
			
			&:hover,
			&:focus {
				background: $active-button-hover;
			}
		}
	}
	
	.action-success {
		//font-size: 1rem;
		font-size: 100%;
		background: $success-color;
		color: #fff;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		box-shadow: none !important;
		outline: none !important;
		transition: .3s all ease;
		
		&:hover,
		&:focus {
			background: $success-hover;
			color: $white-color;
		}
	}
	
	.action-add {
		//padding: 0.4rem 0.8rem;
		padding: 4% 8%;
		//font-size: 1rem;
		font-size: 100%;
		background: $add-color;
		color: #fff;
		min-width: 60%;
		text-align: center;
		display: inline-block;
		border: 0;
		box-shadow: none !important;
		outline: none !important;
		
		&:hover,
		&:focus {
			background: $add-hover;
			color: $white-color;
		}
	}
	
	
	.action-noadd {
		//padding: 0.4rem 0.8rem;
		padding: 4% 8%;
		//font-size: 1rem;
		font-size: 100%;
		background: $red-color;
		color: #fff;
		min-width: 60%;
		text-align: center;
		display: inline-block;
		border: 0;
		box-shadow: none !important;
		outline: none !important;
		
		&:hover,
		&:focus {
			background: $red-hover;
			color: $white-color;
		}
	}
	
	
	.action-undo {
		//padding: 0.4rem 0.8rem;
		padding: 4% 8%;
		//font-size: 1rem;
		font-size: 100%;
		background: $red-color;
		color: #fff;
		min-width: 60%;
		text-align: center;
		display: inline-block;
		border: 0;
		box-shadow: none !important;
		outline: none !important;
		
		&:hover,
		&:focus {
			background: $red-hover;
			color: $white-color;
		}
	}
	
	.screen-main {
		//font-size: 1rem;
		font-size: 100%;
		height: 100vh;
		
		.screen-header {
			background-color: $header-color;
			
			.screen-logo {
				a {
					img {
						width: 120px;
					}
				}
			}
			
			.screen-time {
				//padding: 10px 0;
				padding: 1% 0;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				color: $white-color;
				
				.time-top {
					font-weight: bold;
					//margin-bottom: .2rem;
					margin-bottom: .4%;
					//font-size: 1.1rem;
					font-size: 120%;
				}
				
				.time-bottom {
					//font-size: .95rem;
					font-size: 110%;
				}
			}
			
			.screen-customer {
				a {
					display: inline-block;
					border: none;
					color: $white-color;
					height: 40px;
					line-height: 40px;
					-webkit-transition: all .3s ease-in-out;
					-moz-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					-ms-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
					//padding: 0 20px;
					//font-size: 1rem;
					padding: 0 5%;
					font-size: 110%;
					background: $blue-color;
					
					&:hover,
					&:focus {
						background: $blue-hover;
					}
				}
			}
		}
		
		.screen-inner {
			> .container-fluid {
				padding: 0;
			}
			
			.screen-service {
				background: $white-color;
				//font-size: .9rem;
				font-size: 100%;
				border-right: 1px solid #d1d1d1;
				border-bottom: 1px solid #d1d1d1;
				
				.service-ticket {
					background: #f6f6ff;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid #d1d1d1;
					
					&.ticket-title {
						text-transform: capitalize;
						color: $black-color;
						height: 3.2375rem;
						//font-size: 1.1rem;
						font-size: 120%;
					}
					
					[class*=col] {
						text-align: center;
					}
					
					.col-id {
						width: 8%;
					}
					
					.col-customer {
						width: 22%;
					}
					
					.col-service {
						width: 20%;
					}
					
					.col-staff {
						width: 20%;
					}
					
					.col-status {
						width: 14%;
					}
					
					.col-action {
						width: 17%;
					}
				}
				
				.ticket-row {
					max-height: 215px;
					overflow-y: scroll;
					
					&::-webkit-scrollbar {
						width: 5px;
					}
					
					&::-webkit-scrollbar-track {
						background: #d1d1d1;
					}
					
					&::-webkit-scrollbar-thumb {
						background: #888;
					}
					
					&::-webkit-scrollbar-thumb:hover {
						background: #555;
					}
					
					.ticket-item {
						display: flex;
						align-items: center;
						justify-content: space-between;
						//margin-bottom: .5rem;
						margin-bottom: .5%;
						font-size: 120%;
						//font-size: 1.1rem;
						transition: .3s all ease;
						//padding: .6rem 0;
						padding: .5% 0;
						
						&:hover {
							background: #f6f6ff;
						}
						
						[class*=col] {
							text-align: center;
						}
						
						.col-id {
							width: 8%;
						}
						
						.col-customer {
							width: 22%;
						}
						
						.col-service {
							width: 20%;
							
							.service-name {
								//margin-bottom: .4rem;
								margin-bottom: 2%;
							}
							
							.service-price {
								input.form-control {
									height: 40px;
									line-height: 40px;
									//font-size: 1rem;
									font-size: 100%;
									box-shadow: none !important;
									transition: .3s all ease;
									outline: none !important;
									background-color: #fff;
									color: #000;
									max-width: 80px;
									margin: 0 auto;
									text-align: center;
									padding-left: 5px;
									padding-right: 5px;
									
									&:focus,
									&:visited,
									&:focus-within {
										border-color: $main-color;
									}
								}
							}
						}
						
						.col-staff {
							width: 20%;
							
							.service-staff {
								select.form-control {
									height: 40px;
									line-height: 40px;
									//font-size: 1rem;
									font-size: 100%;
									box-shadow: none !important;
									transition: .3s all ease;
									outline: none !important;
									appearance: none;
									-webkit-appearance: none;
									-moz-appearance: none;
									-ms-appearance: none;
									-o-appearance: none;
									background: url(../icon/icon-select.png) no-repeat right 10px center;
									padding-top: 0;
									padding-bottom: 0;
									padding-right: 25px;
									padding-left: 10px;
									background-color: #fff;
									color: #000;
									
									&:focus,
									&:visited,
									&:focus-within {
										border-color: $main-color;
									}
								}
							}
						}
						
						.col-status {
							width: 14%;
							
							.status-finish {
								padding: 4% 8%;
								//font-size: 1rem;
								font-size: 100%;
								background: $success-color;
								color: $white-color;
								display: inline-block;
								min-width: 75%;
							}
							
							.status-process {
								padding: 4% 8%;
								//font-size: 1rem;
								font-size: 100%;
								background: $process-color;
								color: $white-color;
								display: inline-block;
								min-width: 75%;
							}
						}
						
						.col-action {
							width: 17%;
						}
					}
				}
			}
			
			.screen-order {
				font-size: 100%;
				
				.row-order {
					.title-order {
						height: 3.2375rem;
						//font-size: .9rem;
						font-size: 120%;
						font-weight: bold;
						color: $black-color;
						display: flex;
						align-items: center;
						justify-content: center;
						border-bottom: 1px solid #d1d1d1;
						background: #f6f6ff;
					}
					
					.list-order {
						ul {
							max-height: calc(64.56px * 4);
							overflow-y: scroll;
							
							&::-webkit-scrollbar {
								width: 5px;
							}
							
							&::-webkit-scrollbar-track {
								background: #d1d1d1;
							}
							
							&::-webkit-scrollbar-thumb {
								background: #888;
							}
							
							&::-webkit-scrollbar-thumb:hover {
								background: #555;
							}
							
							li {
								.order-item {
									display: flex;
									align-items: center;
									justify-content: space-between;
									//padding: .5rem;
									padding: 1% 1.5%;
									position: relative;
									overflow: hidden;
									border-bottom: 1px solid #d1d1d1;
									
									.order-col-left {
										width: 50%;
										
										.order-row-service {
											font-weight: bold;
											//font-size: 1.15rem;
											font-size: 115%;
											//margin-bottom: .42rem;
											margin-bottom: 2%;
										}
										
										.order-row-staff {
											//font-size: 1rem;
											font-size: 110%;
											color: #676767;
										}
									}
									
									.order-col-middle {
										width: 30%;
										text-align: right;
										//padding: 0 15px;
										padding: 0 3%;
										
										.order-row-price {
											font-weight: bold;
											//font-size: 1.1rem;
											font-size: 110%;
											//margin-bottom: .2rem;
											margin-bottom: 2%;
										}
										
										.order-row-tip {
											.action-add {
												//padding: .2rem .8rem;
												padding: 2% 8%;
												font-size: 105%;
											}
										}
									}
									
									.order-col-right {
										width: 20%;
										text-align: center;
										
										.action-undo {
											font-size: 105%;
										}
									}
								}
							}
						}
					}
				}
				
				.row-total {
					border-top: 1px solid #d1d1d1;
					
					> [class*=total] {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						
						p {
							text-align: right;
							margin-bottom: 0;
							//font-size: 1.1rem;
							font-size: 120%;
							//padding: .3rem .8rem;
							padding: 1.5% 3%;
							
							&:first-of-type {
								width: 60%;
							}
							
							&:last-of-type {
								font-weight: bold;
								width: 40%;
							}
						}
					}
					
					.total-due {
						font-weight: bold;
						//margin-top: .3rem;
						border-top: 1px solid #000;
						
						p {
							padding: 1.5% 3%;
							font-size: 1.2rem;
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							width: 50%;
							border: 1px solid #d1d1d1;
							
							.action-button {
								width: 100%;
								height: 100%;
							}
						}
					}
					
					.button-payment {
						.button-item {
							width: 100%;
							border: 1px solid #d1d1d1;
							
							.action-payment {
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			.action-success {
				width: 100%;
				border-right: 1px solid #d1d1d1;
				
				&.no-border {
					border-right: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 1366px) {
	.screen-main {
		.screen-inner {
			.screen-overflow {
				max-height: calc(227px * 2 * 1.4);
				overflow-y: hidden;
				
				&::-webkit-scrollbar {
					width: 10px;
				}
				
				&::-webkit-scrollbar-track {
					background: #d1d1d1;
				}
				
				&::-webkit-scrollbar-thumb {
					background: #888;
				}
				
				&::-webkit-scrollbar-thumb:hover {
					background: #555;
				}
				
				.screen-service {
					.ticket-row {
						max-height: calc(190px * 1.4);
					}
				}
			}
			
			.screen-order {
				.row-order {
					.list-order {
						ul {
							max-height: unset;
							height: calc(47.5px * 4 * 1.4);
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							height: calc(51px * 1.4);
							
							button {
								font-size: calc(1rem * 1.4);
							}
						}
					}
					
					.button-payment {
						.button-item {
							height: calc(60px * 1.4);
							
							button {
								font-size: calc(1rem * 1.4);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			.action-success {
				font-size: calc(1rem * 1.4);
				height: calc(60px * 1.4);
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.screen-main {
		.screen-inner {
			.screen-service {
				.ticket-row {
					.ticket-item {
						font-size: 1.25rem;
					}
				}
			}
			
			.screen-overflow {
				max-height: calc(227px * 2 * 1.46);
				overflow-y: hidden;
				
				&::-webkit-scrollbar {
					width: 10px;
				}
				
				&::-webkit-scrollbar-track {
					background: #d1d1d1;
				}
				
				&::-webkit-scrollbar-thumb {
					background: #888;
				}
				
				&::-webkit-scrollbar-thumb:hover {
					background: #555;
				}
				
				.screen-service {
					.ticket-row {
						max-height: calc(190px * 1.46);
					}
				}
			}
			
			.screen-order {
				.row-order {
					.list-order {
						ul {
							max-height: unset;
							height: calc(49.7px * 4 * 1.46);
						}
					}
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: 1.25rem;
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							height: calc(51.5px * 1.46);
							
							button {
								font-size: calc(1rem * 1.46);
							}
						}
					}
					
					.button-payment {
						.button-item {
							height: calc(64px * 1.46);
							
							button {
								font-size: calc(1rem * 1.46);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			.action-success {
				font-size: calc(1rem * 1.46);
				height: calc(60px * 1.46);
			}
		}
	}
}

@media screen and (min-width: 2560px) {
	.action-button {
		font-size: 1.3rem;
	}
	
	.action-payment {
		font-size: 1.3rem;
	}
	
	.action-success {
		font-size: 1.3rem;
	}
	
	.action-add {
		font-size: 1.3rem;
	}
	
	.action-noadd {
		font-size: 1.3rem;
	}
	
	.action-undo {
		font-size: 1.3rem;
	}
	
	.screen-main {
		.screen-inner {
			.screen-service {
				.service-ticket.ticket-title {
					font-size: 1.6rem;
				}
				
				
				.ticket-row {
					.ticket-item {
						font-size: 1.6rem;
						
						.col-service {
							.service-price {
								input.form-control {
									//font-size: 1.3rem;
									font-size: 130%;
									max-width: calc(80px * 1.96);
								}
							}
						}
						
						.col-staff {
							.service-staff {
								select.form-control {
									//font-size: 1.3rem;
									font-size: 130%;
								}
							}
						}
						
						.col-status {
							.status-finish,
							.status-process {
								//font-size: 1.3rem;
								font-size: 130%;
							}
						}
					}
				}
			}
			
			.screen-overflow {
				max-height: calc(233px * 2 * 1.96);
				overflow-y: hidden;
				
				&::-webkit-scrollbar {
					width: 10px;
				}
				
				&::-webkit-scrollbar-track {
					background: #d1d1d1;
				}
				
				&::-webkit-scrollbar-thumb {
					background: #888;
				}
				
				&::-webkit-scrollbar-thumb:hover {
					background: #555;
				}
				
				.screen-service {
					.ticket-row {
						max-height: calc(207px * 1.96);
					}
				}
			}
			
			.screen-order {
				.row-order {
					.list-order {
						ul {
							max-height: unset;
							height: calc(56.7px * 4 * 1.96);
							
							li {
								.order-item {
									.order-col-left {
										.order-row-service {
											font-size: 1.5rem;
										}
										
										.order-row-staff {
											font-size: 1.3rem;
										}
									}
									
									.order-col-middle {
										.order-row-price {
											font-size: 1.5rem;
										}
									}
								}
							}
						}
					}
				}
				
				.row-total {
					> [class*=total] {
						p {
							font-size: 1.5rem;
						}
					}
				}
				
				.row-button {
					.button-inner {
						.button-item {
							height: calc(51.5px * 1.96);
							
							button {
								font-size: calc(1rem * 1.96);
							}
						}
					}
					
					.button-payment {
						.button-item {
							height: calc(62px * 1.96);
							
							button {
								font-size: calc(1rem * 1.96);
							}
						}
					}
				}
			}
		}
		
		.screen-footer {
			.action-success {
				font-size: calc(1rem * 1.46);
				height: calc(60px * 1.46);
			}
		}
	}
}

